.reviewsContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.reviewItem {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.author {
  margin: 0;
  font-weight: bold;
}

.content {
  margin: 0;
}

.noReviews {
  margin: 0;
  font-style: italic;
  color: #888;
}
